{
    "env": {
        "browser": true
    },
    "rules": {
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "camelcase": 0,
        "comma-spacing": 2,
        "complexity": [1, 10],
        "consistent-this": [1, "self"],
        "consistent-return": 2,
        "curly": [2, "all"],
        "dot-notation": [2, { "allowKeywords": true }],
        "eol-last": 2,
        "eqeqeq": 2,
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "keyword-spacing": [2,  {"after": true}],
        "max-nested-callbacks": [1, 4],
        "new-cap": 2,
        "new-parens": 2,
        "no-console": 2,
        "no-alert": 2,
        "no-array-constructor": 2,
        "no-caller": 2,
        "no-catch-shadow": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-extra-parens": 1,
        "no-implied-eval": 2,
        "no-iterator": 2,
        "no-label-var": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-new-wrappers": 2,
        "no-nested-ternary": 2,
        "no-octal-escape": 2,
        "no-process-exit": 2,
        "no-proto": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": 2,
        "no-undef-init": 2,
        "no-undefined": 2,
        "no-underscore-dangle": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        "one-var": 0,
        "quotes": 0,
        "quote-props": 2,
        "radix": 2,
        "semi": 2,
        "semi-spacing": [2, {"before": false, "after": true}],
        "space-infix-ops": 2,
        "space-in-parens": [1, "never"],
        "space-unary-ops": 2,
        "strict": [2, "function"],
        "yoda": [2, "never"]
    }
}
