.es-tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.es-tabs__label {
    background: #D8D8D8;
    cursor: pointer;
    display: block;
    color: $color-link;
    padding: $spacing-sm;
    text-align: center;
    flex: 1 1 50%;
}

.es-tabs__label--active {
    background: $color-gray-95;
}
