@import 'variables';
@import 'code_snippet/code_snippet';
@import 'color_form/color_form';



html,
body {
  box-sizing: border-box;
  font-family: $font-family-default;
  font-weight: $font-weight-light;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}

.es-contrast-grid__outer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
}

.es-contrast-grid__header {
    align-items: center;
    background: $color-gray-12;
    color: $color-white;
    display: flex;
    flex: 0 0 92px;
    justify-content: space-between;
    padding: $spacing-md;
}

.es-contrast-grid-generator {
    display: flex;
    flex: 1;
}

.es-contrast-grid-generator__content-wrap {
    padding: $spacing-md;
}

.es-contrast-grid__title {
    align-items: center;
    display: flex;
    font-weight: 300;
    font-size: $font-size-h3;
    margin: 0;
}

.es-contrast-grid__title-logo {
    fill: $color-white;
    margin-right: $spacing-md / 2;
    width: 160px;
}

.es-contrast-grid__title-text {
    display: block;
    border-left: solid 1px $color-white;
    padding-left: $spacing-md / 2 - 1px;
    position: relative;
    top: -1px;
}

.es-contrast-grid__header-link {
    align-items: center;
    color: $color-white;
    border-radius: $spacing-xs / 2;
    display: flex;
    font-weight: 300;
    padding: $spacing-xs $spacing-default;
    text-decoration: none;

    &:hover {
        background: white;
        color: $color-gray-12;
    }
}

.es-contrast-grid__header-link-logo {
    fill: $color-white;
    height: 20px;
    margin-right: $spacing-sm;
    width: 20px;

    .es-contrast-grid__header-link:hover & {
        fill: $color-gray-12;
    }
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Slabo 27px', serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Lora', serif;
// font-family: 'Droid Sans', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Droid Serif', serif;
