{% macro code_snippet() %}
    <div class="es-code-snippet">
        <div class="es-code-snippet__header">
            <a href="#" class="es-code-snippet__hide-snippet">
                {{ icon(icon_name="angle-left", class="es-code-snippet__hide-snippet-icon") }}
                <span class="es-code-snippet__hide-snippet-text">Return to Grid</span>
            </a>
            <div class="es-code-snippet__actions-wrap">
                <a href="#" class="es-button es-code-snippet__copy-button" data-clipboard-target="#es-code-snippet__code">
                    <span class="es-code-snippet__copy-button-text">Copy to Clipboard</span>
                    <span class="es-code-snippet__copy-response">Press Ctrl + C to copy</span>
                </a>
            </div>
        </div>
        <div class="es-code-snippet__code-wrap">
            
            <pre id="es-code-snippet__code"><code class="language-markup">
        &lt;h1&gt;Fuzzballs&lt;/h1&gt;
            </code></pre>
        </div>
    </div>
{% endmacro %}
