.es-code-snippet {
    // background: $color-gray-95;
    // display: none;
    flex: 0 0 0;
    overflow: hidden;
    visibility: hidden;
    // flex: 1;
    // padding: $spacing-md;
    
    // .es-contrast-grid__outer-wrap--code-snippet-visible & {
    //     display: block;
    // }
    .es-tabs__global-panel--copy-code & {
        visibility: visible;
        flex: 1;
    }
}

.es-code-snippet__persistent-url {
    font-family: 'Lato', sans-serif; 
    font-size: $font-size-default;
    padding: $spacing-xs;
    margin-bottom: $spacing-lg;
    width: 100%;
}

.es-code-snippet__label {
    display: inline-block;
    margin-bottom: $spacing-xs;
    margin-right: $spacing-sm;
}

.es-code-snippet__copy-button-icon {
    fill: $color-link;
    height: $font-size-default;
    margin-right: $spacing-xs / 2;
    width: $font-size-default;
}

.es-code-snippet__copy-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.es-code-snippet__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-default;
}

.es-code-snippet__hide-snippet-text {
    position: relative;
    top: -2px;
}

.es-code-snippet__hide-snippet-icon {
    fill: $color-link;
    height: $font-size-default;
    width: $font-size-default;
}

.es-code-snippet__code-wrap {
    background: $color-white;
    border: solid 1px $color-gray-53;
    max-height: 60vh;
    overflow-y: scroll;
    position: relative;
}

.es-code-snippet__code-loading-wrap {
    align-items: center;
    background: rgba($color-black, 0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.4s, visibility 0s 0.4s;
    visibility: hidden;

    .es-code-snippet--loading & {
        opacity: 1;
        transition: opacity 0.4s, visibility 0s;
        visibility: visible;
    }
}

.es-code-snippet__code-loading-icon {
    animation: spin 1s linear infinite;
    display: block;
    fill: $color-white;
    height: 40px;
    margin: 0 auto $spacing-xs;
    width: 40px;
}

.es-code-snippet__code-loading-text {
    color: $color-white;
}

#es-code-snippet__code {
    background: $color-white;
    font-size: $font-size-xs;
}

.es-code-snippet__copy-button {
    align-items: center;
    display: inline-flex;
    position: relative;
}

.es-code-snippet__code-loading-message {
    text-align: center;
}

.es-code-snippet__copy-response {
    background: $color-gray-12;
    border-radius: $spacing-xs;
    color: $color-white;
    font-size: $font-size-sm;
    left: 50%;
    margin-left: -(150px / 2);
    opacity: 0;
    padding: $spacing-xs;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 150px;
    z-index: 100;

    &:before {
        background: $color-gray-12;
        content: '';
        display: block;
        height: 10px;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        top: -5px;
        transform: rotate(45deg);
        width: 10px;
    }

    .es-code-snippet__copy-button--clicked & {
        animation: fade-in-out 3s;
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        top: 32px;
    }

    10% {
        opacity: 1;
        top: 48px;
    }

    90% {
        opacity: 1;
        top: 48px;
    }

    100% {
        opacity: 0;
        top: 32px;
    }
}
