{% macro color_input() %}
    <form method="GET" class="es-color-form">
        <label for="es-color-form__foreground-colors" class="es-color-form__label">Foreground Colors</label>
        <textarea id="es-color-form__foreground-colors" name="foreground-colors" class="es-color-form__input"></textarea>
        <label for="es-color-background-colors" class="es-color-form__label">Background Colors</label>
        <textarea id="es-color-background-colors" name="background-colors" class="es-color-form__input"></textarea>
        <button class="es-color-form__submit">Update Grid</button>
    </form>
{% endmacro %}
