{% macro color_form() %}
    <form method="GET" class="es-color-form">
        <div class="es-color-form__content">
            <p class="es-color-form__copy">
                Test many foreground and background color combos for compliance with <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">WCAG 2.0 minimum contrast</a>.
            </p>
            <p class="es-color-form__copy">
                Include one color per line, with an optional comma-separated label.
            </p>
            <div class="es-color-form__field-wrapper es-color-form__field-wrapper--background-colors">
                <label for="es-color-form__background-colors" class="es-color-form__label">Rows</label>
                <textarea id="es-color-form__background-colors" name="background-colors" class="es-color-form__textarea" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Enter HEX color values, one color per line"></textarea>
            </div>
            <div class="es-color-form__field-wrapper">
                <label for="es-color-form__foreground-colors" class="es-color-form__label">Rows &amp; Columns</label>
                <textarea id="es-color-form__foreground-colors" name="foreground-colors" class="es-color-form__textarea" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Enter HEX color values, one color per line">
#FFFFFF, White
#F2F2F2
#DDDDDD
#CCCCCC
#888888
#404040, Charcoal
#000000, Black
#2F78C5, Effective on Extremes
#0F60B6, Effective on Lights
#398EEA, Ineffective
</textarea>
                <a href="#" class="es-color-form__show-background-colors">Use distinct rows &amp; columns values</a>
                <a href="#" class="es-color-form__hide-background-colors">Use the same rows &amp; columns values</a>
            </div>

            <div class="es-color-form__field-wrapper">
                <label class="es-color-form__label">Tile Size</label>
                <div class="es-color-form__radio-button-group">
                    <label for="es-color-form__tile-size--compact" class="es-color-form__radio-button">
                        <input type="radio" class="es-color-form__radio-button-input" id="es-color-form__tile-size--compact" value="compact" name="es-color-form__tile-size" checked>
                        <span class="es-color-form__radio-button-text">
                            S<span class="es-color-form__radio-button-subtext">(80&times;80)</span>
                        </span>
                    </label>
                    <label for="es-color-form__tile-size--regular" class="es-color-form__radio-button">
                        <input type="radio" class="es-color-form__radio-button-input" id="es-color-form__tile-size--regular" value="regular" name="es-color-form__tile-size">
                        <span class="es-color-form__radio-button-text">
                            M<span class="es-color-form__radio-button-subtext">(100&times;100)</span>
                        </span>
                    </label>
                    <label for="es-color-form__tile-size--large" class="es-color-form__radio-button">
                        <input type="radio" class="es-color-form__radio-button-input" id="es-color-form__tile-size--large" value="large" name="es-color-form__tile-size">
                        <span class="es-color-form__radio-button-text">
                            L<span class="es-color-form__radio-button-subtext">(150&times;150)</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </form>
{% endmacro %}
