.es-color-form {
    background: $color-gray-95;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    flex: 0 0 320px;
    padding: $spacing-md;
}

.es-color-form__title {
    margin: 0;
}

.es-color-form__textarea {
    border-radius: $spacing-xs / 2;
    border: solid 1px $color-gray-53;
    font-family: 'Lato', sans-serif; 
    font-size: $font-size-default;
    height: 200px;
    padding: $spacing-xs;
    margin-bottom: $spacing-xs;
    width: 100%;
}

.es-color-form__label {
    display: block;
    font-weight: bold;
    margin-bottom: $spacing-xs;
}

.es-color-form__field-wrapper {
    margin-bottom: $spacing-md;
}


.es-color-form__radio-button {
    font-weight: 400;
    display: block;
    margin-bottom: $spacing-xs;
}

.es-color-form__content {
    margin-bottom: $spacing-default;
}

.es-color-form__field-wrapper--background-colors {
    display: none;

    .es-color-form--show-background-colors-input & {
        display: block;
    }
}

.es-color-form--show-background-colors-input .es-color-form__show-background-colors {
    display: none;
}

.es-color-form__hide-background-colors {
    display: none;

    .es-color-form--show-background-colors-input & {
        display: block;
    }
}
