{% macro color_input() %}
    <form method="GET" class="es-color-form">
        <div class="es-color-form__field-wrapper">
            <label for="es-color-form__foreground-colors" class="es-color-form__label">Foreground Colors</label>
            <textarea id="es-color-form__foreground-colors" name="foreground-colors" class="es-color-form__input">
#000, Black
#323232
#4D4D4D
#F3F1F1
#FFF, White
#DC6729
#3995A9, Link Color
            </textarea>
        </div>
        <div class="es-color-form__field-wrapper">
            <label for="es-color-form__background-colors" class="es-color-form__label">Background Colors</label>
            <textarea id="es-color-form__background-colors" name="background-colors" class="es-color-form__input" placeholder="Defaults to inverse of Foreground Colors"></textarea>
        </div>
    </form>
{% endmacro %}
