@import '../../styles/variables';

/* Override Contrast Grid Styles to make color and font changes */
.es-contrast-grid {
    font-family: 'Lato', sans-serif;
}

.es-contrast-grid {
    box-sizing: border-box;
    overflow: auto;
    width: 100%;

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
}

.es-contrast-grid__table-wrap {
    width: auto;
}

.es-contrast-grid__table {
    border-collapse: collapse;
    color: #fff;

    td, th {
        border: solid 1px transparent;
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
}

.es-contrast-grid--dark-label {
    color: black;
}

.es-contrast-grid__accessibility-label {
    background: #ccc;
    border-radius: 4px;
    display: inline-block;
    color: #000;
    font-size: $font-size-xs;
    padding: 2px 4px;
    text-align: center;
    width: 36px;
}

.es-contrast-grid__accessibility-label--dnp {
    background: #EE0000;
    color: $color-white;
}

.es-contrast-grid__accessibility-label--aa18 {
    background: #CFB317;
}

.es-contrast-grid__swatch {
    display: flex;
    flex-direction: column;
    height: $default-swatch-size;
    justify-content: space-between;
    padding: $spacing-xs;
    min-width: $default-swatch-size;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
        min-width: $compact-swatch-size;        
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        padding: $spacing-sm;
        min-width: $large-swatch-size;
    }
}

.es-contrast-grid__swatch-demo-text {
    font-size: $font-size-default;
}

.es-contrast-grid__swatch-stats {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.es-contrast-grid__contrast-ratio {
    color: $color-white;
    font-size: $font-size-sm;

    .es-contrast-grid--dark-label & {
        color: $color-black;
    }
}

.es-contrast-grid__key-swatch-spacer {
    align-items: center;
    background: 
         linear-gradient(to top right,
             rgba($color-gray-95,0) 0%,
             rgba($color-gray-95,0) calc(50% - 1px),
             rgba($color-gray-95,1) 50%,
             rgba($color-gray-95,0) calc(50% + 1px),
             rgba($color-gray-95,0) 100%);
    background-color: $color-white;
    border: solid 1px $color-gray-95;
    color: $color-black;
    display: flex;
    height: $default-swatch-size;
    justify-content: space-between;
    padding: $spacing-xs;
    min-width: 200px;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
    }
}

.es-contrast-grid__key-swatch-label--background {
    align-self: flex-end;
}

.es-contrast-grid__swatch-spacer {
    background-color: $color-white;
    border: solid 1px $color-gray-95;
    height: $default-swatch-size;
    width: 100%;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
        width: 100%;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        width: 100%;
    }
}

.es-contrast-grid__key-swatch--foreground {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;
    height: $default-swatch-size;
    justify-content: center;
    padding: $spacing-xs;
    text-align: left;
    // width: $default-swatch-size;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
        // width: $compact-swatch-size;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        padding: $spacing-sm;
        // width: $large-swatch-size;
    }

    .es-contrast-grid__key-swatch-label-text {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 220px;
        white-space: nowrap;
    }
}

.es-contrast-grid--bordered-swatch {
    border: solid 1px $color-gray-95;
}

.es-contrast-grid__key-swatch--background {
    align-items: center;
    display: flex;
    height: $default-swatch-size;
    padding: $spacing-xs;
    text-align: left;
    min-width: 200px;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        padding: $spacing-sm;
    }
}

.es-contrast-grid__key-swatch-label-text {
    font-weight: bold;
}

.es-contrast-grid__key-swatch-label-hex {
    font-weight: normal;
    font-size: $font-size-sm;
}

td.es-contrast-grid__key-cell {
    padding-top: $spacing-md;
}

.es-contrast-grid-key {
    align-items: center;
    border: solid 1px $color-gray-95;
    color: $color-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $spacing-sm;
}

.es-contrast-grid__key-cell[colspan="1"],
.es-contrast-grid__key-cell[colspan="2"],
.es-contrast-grid__key-cell[colspan="3"] {
    .es-contrast-grid-key {
        display: block;
    }

    .es-contrast-grid-key__column {
        margin-bottom: $spacing-xs;
        width: 100%;
    }
}

.es-contrast-grid-key__label {
    align-items: center;
    display: flex;
    font-size: $font-size-sm;
    margin-bottom: $spacing-xs;

    .es-contrast-grid__accessibility-label {
        margin-right: $spacing-xs;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.es-contrast-grid-key__link {
    font-size: $font-size-sm;
}
