/* 
 * dragtable
 *
 * @Version 2.0.15
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/
.dragtable-sortable { 
    list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;
}
.dragtable-sortable li {
    margin: 0; padding: 0; float: left; font-size: 1em; background: white; 
}

.ui-sortable-helper {
    // opacity: 0.7;
    // filter: alpha(opacity=70);
    box-shadow: $drop-shadow-default;
    transform: scale(1.02);
}
.ui-sortable-placeholder { 
    // -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
    // -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
    box-shadow: 4px 5px 4px #C6C6C6 inset;
    // border-bottom: 1px solid #CCCCCC;
    // border-top: 1px solid #CCCCCC;
    visibility: visible !important;
    background: #EFEFEF !important; 
    visibility: visible !important;
}

// .ui-sortable-placeholder * { 
//     opacity: 0.0; visibility: hidden; 
// }

.es-contrast-grid__row-placeholder {
    height: $default-swatch-size;
    padding: 1px;
    position: relative;
    visibility: visible !important;

    td {
        box-shadow: inset $drop-shadow-default;
        visibility: visible !important;
    }
}

.es-contrast-grid__row-placeholder-cell {
    box-shadow: 4px #C6C6C6 inset;
}

////////////////////////
.es-tabs__global-panel--copy-code .es-contrast-grid {
    display: none;
}

.es-contrast-grid__key-swatch--foreground {
    .es-contrast-grid__key-swatch-label {
        order: 2;
        margin-bottom: auto;
        margin-top: auto;
    }

    .es-contrast-grid__key-swatch-controls {
        align-items: center;
        display: flex;
        height: 20px;
        order: 1;
        justify-content: flex-end;
        margin-top: -20px;
        padding-top: 20px;
        width: 100%;
        visibility: hidden;

        > * {
            display: block;
            margin-top: $spacing-xs;
        }
    }

    .es-contrast-grid__key-swatch-remove {
        margin-right: 0;
        order: 2;
    }

    
    &:hover {
        .es-contrast-grid__key-swatch-controls {
            visibility: visible;
        }
    }
}

.es-contrast-grid__key-swatch--background {
    .es-contrast-grid__key-swatch-controls {
        align-items: center;
        display: none;
        margin-left: auto;
    }
    
    &:hover .es-contrast-grid__key-swatch-controls {
        display: flex;
    }
}

.es-contrast-grid__key-swatch-drag-handle--row {
    cursor: ns-resize;
}

.es-contrast-grid__key-swatch-drag-handle--column {
    cursor: ew-resize;
}

.es-contrast-grid__key-swatch-remove {
    margin-right: $spacing-sm;
}

.es-contrast-grid__key-swatch-remove-icon {
    fill: $color-white;
    height: $font-size-lg;
    width: $font-size-lg;

    .es-contrast-grid--dark-label & {
        fill: $color-black;
    }
}

.es-contrast-grid__key-swatch-drag-handle-icon {
    fill: $color-white;
    height: $font-size-lg;
    width: $font-size-lg;

    .es-contrast-grid--dark-label & {
        fill: $color-black;
    }
}
