@import '../../styles/variables';

$cell-height: 80px;

.es-contrast-grid__table {
    color: #fff;

    td, th {
        font-size: 16px;
        height: 80px;
        width: 80px;
    }
}

.es-contrast-grid__table {
    border-collapse: collapse;
    font-family: sans-serif;
}

.es-contrast-grid--dark-label {
    color: black;
}

.es-contrast-grid__accessibility-label {
    background: #ccc;
    border-radius: 4px;
    color: #000;
    font-size: 12px;
    padding: 2px 4px;
}

.es-contrast-grid__key-swatch-drag-handle {
    display: block;
    height: 20px;
    width: 20px;
    background: limegreen;
}

.es-contrast-grid__accessibility-label--dnp {
    background: red;
    color: $color-white;
}

/* 
 * dragtable
 *
 * @Version 2.0.15
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/
.dragtable-sortable { 
    list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;
}
.dragtable-sortable li {
    margin: 0; padding: 0; float: left; font-size: 1em; background: white; 
}

.dragtable-sortable th, .dragtable-sortable td{
    border-left: 0px;
}

.dragtable-sortable li:first-child th, .dragtable-sortable li:first-child td {
    border-left: 1px solid #CCC; 
}

.ui-sortable-helper {
    opacity: 0.7;filter: alpha(opacity=70);
}
.ui-sortable-placeholder { 
    -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
    -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
    box-shadow: 4px 5px 4px #C6C6C6 inset;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    visibility: visible !important;
    background: #EFEFEF !important; 
    visibility: visible !important;
}
.ui-sortable-placeholder * { 
    opacity: 0.0; visibility: hidden; 
}
/*##### the table stuff #####*/
table {
    font-size: 10px;
    border-collapse:collapse;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
}
td, th {
    text-align:left;
    vertical-align:top;
}

tr{
    marging:0;
    padding:0;
}

table td, table th {
    border:1px solid #CCC;
    font-size:0.9em;
    padding:3px;
}

table.sar-table th {
    background:none repeat scroll 0 0 #FBF9EA;
    color:#000;
    font-weight:normal;
    height:20px;
    width:100px;
    cursor:move;
}

#handlerTable th {
    cursor:default;
}

.some-handle {
    cursor:move;
}

#constrainTable th {
    cursor:default;
}

#constrainTable th.accept {
    cursor:move;
}

.some-handle {
    background-image:url("../img/handle.png");
    background-repeat:repeat-x;
    height:18px;
    margin:0 1px;
}
