{% macro contrast_grid() %}
    <div class="es-contrast-grid">
        <table class="es-contrast-grid__table">
            <thead>
                <tr class="es-contrast-grid__foreground-key">
                    <th><!-- Intentionally Empty --></th>
                    <th><!-- Intentionally Empty --></th>
                    <th id="es-contrast-grid__foreground-key-cell-template" class="es-contrast-grid__foreground-key-cell"></th>
                </tr>
            </thead>
            <tbody class="es-contrast-grid__content">
                <tr class="es-contrast-grid__labels-row">
                    <td>
                        Background
                    </td>
                    <td>
                        Foreground
                    </td>
                </tr>
                <tr id="es-contrast-grid__content-row-template" class="es-contrast-grid__content-row">
                    <th class="es-contrast-grid__background-key-cell"></th>
                    <td class="es-contrast-grid__separator-cell"></td>
                    <td id="es-contrast-grid__content-cell-template" class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch">
                            <span class="es-contrast-grid__accessibility-label"></span>
                            <span class="es-contrast-grid__contrast-ratio"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endmacro %}
