@import '../../styles/variables';

.es-contrast-grid {
    box-sizing: border-box;
    overflow: auto;
    width: 100%;

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
}

.es-contrast-grid__table {
    border-collapse: collapse;
    color: #fff;

    td, th {
        border: 0;
        font-size: 16px;
        padding: 1px;
        margin: 0;
    }
}

.es-contrast-grid--dark-label {
    color: black;
}

.es-contrast-grid__accessibility-label {
    background: #ccc;
    border-radius: 4px;
    color: #000;
    font-size: $font-size-xs;
    padding: 2px 4px;

    .es-contrast-grid--large & {
        font-size: $font-size-lg;
    }

    .es-contrast-grid--compact & {
        font-size: $font-size-xs * .9;
    }
}

.es-contrast-grid__accessibility-label--dnp {
    background: red;
    color: $color-white;
}

.es-contrast-grid__accessibility-label--aa18 {
    background: goldenrod;
}

.es-contrast-grid__swatch {
    border: solid 1px $color-gray-95;
    display: flex;
    flex-direction: column;
    height: $default-swatch-size;
    justify-content: space-between;
    padding: $spacing-xs;
    width: $default-swatch-size;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
        width: $compact-swatch-size;        
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        padding: $spacing-sm;
        width: $large-swatch-size;
    }
}

.es-contrast-grid__swatch-demo-text {
    font-size: 18px;

    .es-contrast-grid--large & {
        font-size: $font-size-xl;
    }
}

.es-contrast-grid__swatch-stats {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.es-contrast-grid__contrast-ratio {
    color: $color-white;
    font-size: $font-size-sm;

    .es-contrast-grid--large & {
        font-size: $font-size-lg;
    }

    .es-contrast-grid--compact & {
        font-size: $font-size-xs;
    }

    .es-contrast-grid--dark-label & {
        color: $color-black;
    }
}

.es-contrast-grid__key-swatch-spacer {
    border: solid 1px $color-gray-95;
    height: $default-swatch-size;
    width: 320px;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
    }
}

.es-contrast-grid__swatch-spacer {
    background: $color-white;
    border: solid 1px $color-gray-95;
    height: $default-swatch-size;
    width: $default-swatch-size;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
        width: $compact-swatch-size;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        width: $large-swatch-size;
    }
}

.es-contrast-grid__key-swatch {
    border: solid 1px $color-gray-95;
}

.es-contrast-grid__key-swatch--foreground {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;
    height: $default-swatch-size;
    justify-content: center;
    padding: $spacing-xs;
    // position: relative;
    text-align: left;
    width: $default-swatch-size;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
        width: $compact-swatch-size;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        padding: $spacing-sm;
        width: $large-swatch-size;
    }
}

.es-contrast-grid__key-swatch--background {
    align-items: center;
    display: flex;
    height: $default-swatch-size;
    padding: $spacing-xs;
    text-align: left;
    width: 320px;

    .es-contrast-grid--compact & {
        height: $compact-swatch-size;
    }

    .es-contrast-grid--large & {
        height: $large-swatch-size;
        padding: $spacing-sm;
    }
}

.es-contrast-grid__key-swatch-label-text {
    font-weight: bold;

    .es-contrast-grid--large & {
        font-size: $font-size-lg;
    }
}

.es-contrast-grid__key-swatch-label-hex {
    font-weight: normal;
    font-size: $font-size-sm;

    .es-contrast-grid--large & {
        font-size: $font-size-default;
    }
}
