{% import 'project.njk' as components %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="css/project.css">
    <link rel="stylesheet" href="scripts/prism.css">
    <script src="scripts/prism.js"></script>
    <script src="scripts/prism-normalize-whitespace.min.js"></script>
    <script src="scripts/prism-keep-markup.min.js"></script>
    <script src="scripts/clipboard.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/dragtable.js"></script>
    <script src="scripts/eightshapes-contrast-grid.js"></script>
    <script src="scripts/beautify.js"></script>
    <script src="scripts/beautify-html.js"></script>
    <script src="scripts/beautify-css.js"></script>
</head>
<body>
    <h1>EightShapes Contrast Grid Generator</h1>
    {{ components.color_input() }}
    {{ components.contrast_grid() }}    
    {{ components.code_snippet() }}
</body>
</html>
