{% import 'project.njk' as components %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="css/project.css">
    <script src="scripts/clipboard.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/jquery.deserialize.min.js"></script>
    <script src="scripts/jquery.typewatch.js"></script>
    <script src="scripts/dragtable.js"></script>
    <script src="scripts/beautify.js"></script>
    <script src="scripts/beautify-html.js"></script>
    <script src="scripts/beautify-css.js"></script>
    <script src="scripts/svg4everybody.min.js"></script>
    <script src="scripts/eightshapes-contrast-grid.js"></script>
{#     <script>
        svg4everybody();
    </script> #}
</head>
<body>
    <div class="es-web-tool__flex-container">
        <div class="es-web-tool__outer-wrap">
            <div class="es-web-tool__header">
                <h1 class="es-web-tool__title">
                    {{ components.icon(icon_name="eightshapes-logo", class="es-web-tool__title-logo") }}
                    <span class="es-web-tool__title-text">Contrast Grid</span>
                </h1>
                <a class="es-web-tool__header-link" href="https://github.com/EightShapes/contrast-grid">
                    {{ components.icon(icon_name="github", class="es-web-tool__header-link-logo") }}
                    <span class="es-web-tool__header-link-text">
                        On Github
                    </span>
                </a>
            </div>
            <div class="es-web-tool__body">
                <div class="es-web-tool__sidebar">
                    {{ components.tabs(labels=[
                        {
                            name: "Analyze",
                            active: true
                        },
                        {
                            name: "Copy Code"
                        }]) }}
                    {{ components.color_form() }}
                </div>
                <div class="es-web-tool__results">
                    {{ components.contrast_grid() }}    
                    {{ components.code_snippet() }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
